@import url(http://fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,700italic,700);

body, html {
  color: white;
  padding: 20px 50px;
  background: #131c23;
  font-family: Roboto;
}

h1 {
  font-weight: 900;
  line-height: 1em;
  margin: 0.5em 0;
}

h1 b {
  font-weight: 100;
}

a {
  color: gray;
}